@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

@media only screen and (max-width: 450px){

    .heading .links .headerLink .linkText {
        font-size: 45px;
    }

    .super .contactBtn .button {
        height: 140px;
        width: 400px;
        font-size: 40px;
    }
}