@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Didact+Gothic&display=swap');

@media (min-width: 0px){
    body {
        margin: 0;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 20px;
        z-index: 1;
    }
    /* body .hidden {
        display: none;
        opacity: 0;
    } */
    .heading {
        height: 70px;
        width: 100%;
        background-color: rgb(134, 134, 134, .85);
        position: fixed;
        display: flex;
        align-items: center;
    }
    .heading .nameplate {
        width: 50%;
        margin-left: 20px;
        font-size: 50px;
        font-family: 'Bungee Shade', cursive;
        color: white;
        transition: .2s;
        /* text-shadow: 0 0 1px black; */
    }
    .heading .links {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading .links .headerLink {
        width: 50%;   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading .links .headerLink .linkText {
        font-size: 40px;
        color: white;
        /* text-shadow: 0 0 3px black; */
        cursor: pointer;
        transition: .2s;
    }
    .heading .links .headerLink .linkText:hover {
        font-size: 45px;
        transition: .2s;
    }
    .super {
        height: 630px;
        width: 100%;
        padding-top: 70px;
        background-image: url('backdrop.jpg');
        background-size: cover;
        background-position: center;
    }
    .super .whyStatement {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .super .whyStatement .statement {
        width: 50%;
        font-size: 30px;
        text-align: center;
        color: lightgray;
        text-shadow: 0 0 3px black;
    }
    .super .contactBtn {
        height: 40%;
        width: 100%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .super .contactBtn .button {
        height: 70px;
        width: 200px;
        background-color: rgb(134, 134, 134, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 0 0 3px black;
        cursor: pointer;
    }
    /* .highlightProjectsIntro {
        width: 100%;
        max-width: 1080px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .highlightProjectIntro .introText {
        margin-top: 30px;
        text-align: center;
        color: black;
        font-size: 30px;
    } */
    .highlightProjects {
        height: 300px;
        width: 100%;
        /* background-color: lightgray; */
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .highlightProjects .project {
        height: 80px;
        width: 160px;
        margin: 25px;
        background-color: rgb(93, 144, 161, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 0 0 3px black;
        cursor: pointer;
    }
    .passionStatement {
        height: 600px;
        width: 100%;
        max-width: 1080px;
        /* background-color: lightgray; */
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
    .passionStatement .statement {
        width: 70%;
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
        color: white;
        text-shadow: 0 0 3px black;
    }
    .footing {
        height: 70px;
        width: 100%;
        background-color: rgb(134, 134, 134);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .floatingBox {
        transition-duration: .5s;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgb(134, 134, 134, .8);
        opacity: 0;
    }
    .floatingBoxContent {
        height: 50%;
        width: 50%;
        min-width: 800px;
        background-color: white;
    }
}