@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Didact+Gothic&display=swap');

@media (min-width: 0px){
    body {
        margin: 0;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 20px;
        z-index: 1;
    }
    /* body .hidden {
        display: none;
        opacity: 0;
    } */
    .heading {
        height: 70px;
        width: 100%;
        background-color: rgb(37, 79, 94, .85);
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 999;
    }
    .heading .nameplate {
        width: 50%;
        margin-left: 20px;
        font-size: 50px;
        font-family: 'Bungee Shade', cursive;
        color: white;
        transition: .07s;
        /* text-shadow: 0 0 1px black; */
    }
    .heading .nameplate a {
        text-decoration: inherit;
        color: inherit;
    }
    .heading .links {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heading .links .headerLink {
        width: 50%;   
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading .links .headerLink .linkText {
        font-size: 40px;
        color: white;
        /* text-shadow: 0 0 3px black; */
        cursor: pointer;
        transition: .2s;
    }
    .heading .links .headerLink .linkText:hover {
        font-size: 42px;
        transition: .2s;
    }
    .downloadResume {
        height: 100px;
        padding-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .downloadResume .downloadBtn {
        height: 50px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightblue;
        cursor: pointer;
        transition: .2s;
    }
    .downloadResume .downloadBtn:hover {
        transform: scale(1.05);
        transition: .2s;
    }
    .fullResumeBox {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .fullResumeBox .resume {
        height: 1100px;
        width: 850px;
        background-image: url('../media/MyResume-JacobBaldwin.jpg');
        background-size: cover;
        margin-bottom: 50px;
        box-shadow: 0 0 15px rgba(0,0,0,.7);
    }
    
}